Package: nautilussvn
Version: 0.5-1
Section: base
Priority: optional
Architecture: all
Depends: python (>=2.4), python-wxgtk2.8 (>=2.8.0), python-nautilus (>=0.4.3), python-gnome2 (>=2.16), python-svn (>=1.4.2), python-dev (>=2.4)
Suggests: meld
Maintainer: Jason Field <jason@jasonfield.com>
Description: Integrated Subversion support for Nautilus
 An extension to Nautilus to allow better integration with the Subversion source
 control system.  Similar to the TortoiseSVN project on Windows.
