# Just a simple MANIFEST.in file
# See: http://docs.python.org/dist/sdist-cmd.html#sdist-cmd

# When creating a sdist/bdist etc. distutils creates a MANIFEST file which contain
# the files to be included in the generated package, however data_files isn't included.
# Note that these patterns generate a manifest from the working directory, but
# only include files that are actually included by setup.py (from a tmp dir).
# See: http://bugs.python.org/issue2279

# TODO: This basically duplicates the patterns dictionary from setup.py.
#       We might be able to use a more generic pattern though since files not
#       present in the temporary directory are ignored. Example:
#         include *
#         include icons/*
#       or
#         global-include *
include *.py
include *.xrc
include svn.ico
include icons/*.svg
