[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
X-KDE-Submenu=Subversion (RabbitVCS)

X-KDE-GetActionMenu=org.kde.kded getActionMenu
Actions=Log;Annotate;AddSelected;


[Desktop Action Annotate]
Name=Annotate
Name[de]=Annotieren
Name[pl]=Anotuj

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-annotate.svg
Exec=rabbitvcs annotate %F


[Desktop Action LogSelected]
Name=Subversion log
Name[de]=Subversion Log (Letzte 100)
Name[pl]=Subversion Log (Ostatnie 100)

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-show_log.svg
Exec=rabbitvcs log %F
Comment=Displays the subversion log for selection
Comment[de]=Zeigt die Subversion Historie fuer die Auswahl an
Comment[de]=Pokazuje Historje Subversion dla wyboru

[Desktop Action AddSelected]
Name=Add selection to Repository
Name[de]=Auswahl zu Repository hinzufuegen
Name[pl]=Dodaj wybor to repository

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-add.svg
Exec=rabbitvcs add %F

