[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-Submenu=Subversion (RabbitVCS)

X-KDE-GetActionMenu=org.kde.kded getActionMenu
Actions=Log;Annotate;Add;ApplyPatch;CompareChanges;BranchTag;Browser;CheckMods;Checkout;Clean;Commit;CreatePatch;Create;Diff;

[Desktop Action Log]
Name=Show log
Name[de]=Zeige Log
Name[pl]=Pokaz Log

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-show_log.svg
Exec=rabbitvcs log %U
Comment=Displays the subversion log
Comment[de]=Zeigt die Subversion Historie
Comment[de]=Pokazuje Historje Subversion

[Desktop Action Add]
Name=Add to Repository...
Name[de]=Zu Repository hinzufuegen...
Name[pl]=Dodaj to repository...

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-add.svg
Exec=rabbitvcs add %U


[Desktop Action ApplyPatch]
Name=Apply patch...
Name[de]=Patch anwenden...
Name[pl]=Zastosuj Patch...

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-applypatch.svg
Exec=rabbitvcs applypatch %U


[Desktop Action CompareChanges]
Name=Compare changes
Name[de]=Vergleiche Aenderungen
Name[pl]=Porownaj zmiany

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-compare.svg
Exec=rabbitvcs changes %U


[Desktop Action BranchTag]
Name=Branch/tag
Name[de]=Verzweige/markiere

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-branch.svg
Exec=rabbitvcs branch %U



[Desktop Action Browser]
Name=Open Repository Browser
Name[de]=Oeffne Repository Browser

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-about.svg
Exec=rabbitvcs browser %U



[Desktop Action CheckMods]
Name=Check for modifications
Name[de]=Pruefe auf Aenderungen

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-checkmods.svg
Exec=rabbitvcs checkmods %U



[Desktop Action Checkout]
Name=Checkout
Name[de]=Checke aus

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-checkout.svg
Exec=rabbitvcs checkout %U



[Desktop Action Clean]
Name=Clean...
Name[de]=Raeume auf...

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-cleanup.svg
Exec=rabbitvcs clean %U



[Desktop Action Commit]
Name=Commit...
Name[de]=Committe...

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-commit.svg
Exec=rabbitvcs commit %U



[Desktop Action CreatePatch]
Name=Create Patch
Name[de]=Erstelle Patch

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-createpatch.svg
Exec=rabbitvcs createpatch %U



[Desktop Action Create]
Name=Create new SVN repository here
Name[de]=Erstelle hier ein neues SVN Repository

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-about.svg
Exec=rabbitvcs create --vcs=svn %U

# Skip delete because it has no confirmation dialog!


[Desktop Action Diff]
Name=Zeige Unterschiede
Name[de]=Show differences

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-diff.svg
Exec=rabbitvcs diff -s %U





