[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,application/octet-stream
Actions=Update;Commit;_SEPARATOR_;Changes;Log;Browser;CheckMods;_SEPARATOR_;EditConflicts;Resolve;UpdateToRev;Rename;Delete;Revert;GetLock;ReleaseLock;_SEPARATOR_;BranchTag;Switch;Merge;_SEPARATOR_;Annotate;_SEPARATOR_;CreatePatch;Properties;_SEPARATOR_;Add;Ignore;_SEPARATOR_;Settings;About;
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs.svg

X-KDE-Priority=TopLevel
X-KDE-Submenu=RabbitVCS SVN

[Desktop Action Update]
Name=Update
Name[de]=Aktualisieren
Name[fr]=Mettre à jour

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-update.svg
Exec=rabbitvcs update %U

[Desktop Action Commit]
Name=Commit...
Name[de]=Committen …
Name[fr]=Envoyer …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-commit.svg
Exec=rabbitvcs commit %U

# SEPARATOR

[Desktop Action Changes]
Name=Show Changes...
Name[fr]=Voir les modifications …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-changes.svg
Exec=rabbitvcs changes %U

[Desktop Action Log]
Name=Show log
Name[de]=Historie anzeigen
Name[fr]=Consulter le journal
Name[pl]=Pokaz Log

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-show_log.svg
Exec=rabbitvcs log %U

[Desktop Action Browser]
Name=Repo-browser
Name[de]=Repository-Browser
Name[fr]=Navigateur de dépôt

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-drive.svg
Exec=rabbitvcs browser %U

[Desktop Action CheckMods]
Name=Check for modifications
Name[de]=Auf Änderungen prüfen
Name[fr]=Vérifier les modifications

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-checkmods.svg
Exec=rabbitvcs checkmods %U

# SEPARATOR

[Desktop Action EditConflicts]
Name=Edit conflicts
Name[fr]=Editer les conflits …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-editconflicts.svg
Exec=rabbitvcs editconflicts %U

[Desktop Action Resolve]
Name=Resolve...
Name[de]=Konflikte lösen …
Name[fr]=Résoudre les conflits …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-resolve.svg
Exec=rabbitvcs resolve %U

[Desktop Action UpdateToRev]
Name=Update to revision...
Name[de]=Auf Revision aktualisieren …
Name[fr]=Mettre à jour à la révision …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-update.svg
Exec=rabbitvcs updateto %U

[Desktop Action Rename]
Name=Rename...
Name[de]=Umbenennen …
Name[fr]=Renommer …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-rename.svg
Exec=rabbitvcs rename %U

[Desktop Action Delete]
Name=Delete
Name[de]=Löschen
Name[fr]=Supprimer

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-delete.svg
Exec=rabbitvcs delete %U

[Desktop Action Revert]
Name=Revert...
Name[de]=Rückgängig machen …
Name[fr]=Rétablir …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-revert.svg
Exec=rabbitvcs revert %U

[Desktop Action GetLock]
Name=Get lock...
Name[de]=Sperren …
Name[fr]=Obtenir le verrou …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-lock.svg
Exec=rabbitvcs lock %U

[Desktop Action ReleaseLock]
Name=Release lock...
Name[de]=Sperrung aufheben …
Name[fr]=Relâcher le verrou …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-unlock.svg
Exec=rabbitvcs unlock %U

# SEPARATOR

[Desktop Action BranchTag]
Name=Branch/tag...
Name[de]=Verzweigen/markieren …
Name[fr]=Brancher/Taguer …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-branch.svg
Exec=rabbitvcs branch %U

[Desktop Action Switch]
Name=Switch...
Name[de]=Wechseln …
Name[fr]=Basculer …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-switch.svg
Exec=rabbitvcs switch %U

[Desktop Action Merge]
Name=Merge...
Name[de]=Zusammenführen …
Name[fr]=Fusionner …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-merge.svg
Exec=rabbitvcs merge %U

# SEPARATOR

[Desktop Action Annotate]
Name=Annotate...
Name[de]=Annotiere …
Name[fr]=Annoter …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-annotate.svg
Exec=rabbitvcs annotate %U

# SEPARATOR

[Desktop Action CreatePatch]
Name=Create patch...
Name[de]=Patch erstellen …
Name[fr]=Créer un correctif …

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-createpatch.svg
Exec=rabbitvcs createpatch %U

[Desktop Action Properties]
Name=Properties
Name[de]=Eigenschaften
Name[fr]=Propriétés

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-properties.svg
Exec=rabbitvcs properties %U

# SEPARATOR

[Desktop Action Add]
Name=Add...
Name[de]=Hinzufuegen …
Name[fr]=Ajouter …
Name[pl]=Dodaj...

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-add.svg
Exec=rabbitvcs add %U

[Desktop Action Ignore]
Name=Add to ignore list
Name[de]=Zur Ignorierliste hinzufügen
Name[fr]=Ajouter à la liste de fichiers ignorés

Exec=rabbitvcs ignore %U

# SEPARATOR

[Desktop Action Settings]
Name=Settings
Name[de]=Einstellungen
Name[fr]=Paramètres

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-settings.svg
Exec=rabbitvcs settings

[Desktop Action About]
Name=About
Name[de]=Über
Name[fr]=À propos

Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-about.svg
Exec=rabbitvcs about
